*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 20px; 
}
.titre{
    background-color: rgb(19, 120, 215);
    height: 20px;
    width: 80%;
    border-radius: 8px;
    padding: 15px 0;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.texte {
    height: 30px;
    width: 80%;
    background-color: rgb(241, 213, 1);
    color: rgb(23, 23, 23);
    border-radius: 8px;
    text-align: center;
    padding-top: 8px;
}
input {
    padding: 15px;
    width: 80%;
    border-radius: 8px;
    border-color: rgb(19, 120, 215);
}
input:focus {
    outline: none;
}

.temps {
    height: 40px;
    width: 300px;
    background-color: rgb(241, 213, 1);
    border: solid;
    border-radius: 6px;
    color: black;
    text-align: center;
    padding-top: 15px;
}

.resultat {
    width: 400px;
    min-height: 100px;
    position: absolute;
    top: 300px;
    border-radius: 10px;
    text-align: center;
    color: rgb(253, 252, 250);
    font-size: 30px;
    padding: 20px;
}
